<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>

  <appSettings>
    <add key="Interval" value="1" />
    <add key="MasterTableUpdate" value="Y" />
    
    <add key="RetryCount" value="5" />
    <add key="Env" value="qa" />
    <add key="AzureUrl" value="http://testdeliverystream.firestreamonline.com:8100/AscendNotes" />
    
    <add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=fswwmarine;AccountKey=iUDIk7ygzue9lzt8vStZiG7A9BYc3BhHRomPsbJzunQtIkvLX8vEO/6OC86QbdDExpQbX/bMU0AFASBfpE51Bw==" />
        
  
  </appSettings>
  <connectionStrings>
    <!--<add name="Ascend" connectionString="Data Source=TESTDELIVERYSTR\SQL2014;Initial Catalog=Stonetest;Persist Security Info=True;User ID=sa;Password=fsww9999!"/>
    <add name="MarineDelivery" connectionString="Data Source=TESTDELIVERYSTR\SQL2014;Initial Catalog=MarineDelivery;Persist Security Info=True;User ID=sa;Password=fsww9999!"/>-->

    <add name="Ascend" connectionString="server=13.89.191.151;database=StoneOil;uid=dreamfactory;pwd=dreamfactory;" />
    <add name="MarineDelivery" connectionString="server=13.89.191.151;database=MarineDelivery;uid=dreamfactory;pwd=dreamfactory;" />
    
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>